<p>Hello,</p>
<p>We have received your request to confirm your account on our system. To complete this process, please use the following verification code:</p>
<p>Verification Code: <div style="color: red"><%= code %></div></p>
<p>Please enter this code on our website or app to confirm your account. Ensure that you do not share this code with anyone else as it is necessary to protect your personal information.</p>
<p>If you did not request this code, please disregard this email and ensure that your account remains secure.</p>
<p>Thank you for using our services.</p>
<p>Best regards,<br>Bao Duong<br>Admin</p>
